<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
<title >RSS Home Page</title>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
      <!-- <script type = "text/javascript" src="js/service.js"></script> -->
</head>
   
  <body ng-app = "myApp" ng-controller = "HelloController" ng-init="btn.a='false'; btn.b='false'; btn.c='false'; btn.d='false'">
  <table>
  	<tr >
  		<th colspan="2" width="1350" height="100">
  			<h1>Welcome to ROBOT Shop Store</h1>
  			<form align="right" action="/logout">
			  <input name="submit2" type="submit" id="submit2" value="Logout"></input>
			</form>
  		</th>
  	</tr>
  	
  	<tr>
  		<td width="200" height="520" style="background-color:lightgray;">
  			
		 	 <button ng-click="getABtn()">FIND</button><br/><br/>
	         <button ng-click="getBBtn()">ADD</button><br/><br/>
	         <button ng-click="getCBtn()">DELETE</button><br/><br/>
	         <button ng-click="getAllRobots()">VIEW ALL</button>
  			
		</td>
  			
		<td width="1000" height="520" align="center" valign="top">
		
			<div>
			<p>This is an online Robot shop store. Use left panel buttons <br/>
			to see the robots which are available for purchase,	add new robots <br/>
			to the robot store's inventory, and remove robots which have been sold. <br/></p><br/>
			
			</div>
		
			<div ng-show="btn.d" ng-hide="true">
				<table width="1000">
					<tr height="30" align="center">
						<th width="200">RobotId</th>
						<th>Name</th>
						<th>Price</th>
					</tr>
					<tr ng-repeat="robo in allRobots" height="30" align="center">
						<td >{{robo.robotId}}</td>
						<td >{{robo.name}}</td>
						<td >{{robo.price}}</td>
					</tr>
					<tr height="30" align="center">
						<td >{{robots.robotId}}</td>
						<td >{{robots.name}}</td>
						<td >{{robots.price}}</td>
					</tr>
				</table><br/><br/>
			</div>
			
  			<!-- <div ng-show="btn.a" ng-hide="true"> -->
  				<form ng-show="btn.a" ng-hide="true" ng-submit="getRobot(robot)">
  				ROBOT ID: <input type = "text" ng-model = "robot.getid" placeholder = "Enter robotid" required="required"></input>
  				<input type = "submit" value = "Find"></input><br/><br/>
  				</form>
  			<!-- </div> -->
  			
  			<!-- <div ng-show = "btn.b" ng-hide="true"> -->
  				<form ng-show = "btn.b" ng-hide="true" ng-submit="addRobot(robot)">
  				NAME: <input type = "text" ng-model = "robot.name" placeholder = "Name" required="required"></input>
  				PRICE: <input type = "text" ng-model = "robot.price" placeholder = "Price" required="required"></input>
  				<input type = "submit" value = "ADD"/><br/><br/>
  				</form>
  			<!-- </div> -->
  			
  			<!-- <div ng-show = "btn.c" ng-hide="true"> -->
  				<form ng-show = "btn.c" ng-hide="true" ng-submit="deleteRobot(robot)">
  				ROBOT ID: <input type = "text" ng-model = "robot.deleteid" placeholder = "Enter robotid" required="required"></input>
  				<input type = "submit" value = "DELETE"/><br/><br/>
  				</form>
  		<!-- 	</div> -->
  			
  		</td>	
  	</tr>
  
  </table>
  
   <script>
         var myApp = angular
         				.module("myApp", [])
         				.controller("HelloController", function($scope, $http, $log) {
				            $scope.robot = {};
				            $scope.robots = {};
				            $scope.allRobots = {};
				            $scope.getRobot = function(robot) {
									                $http({
									                		method: 'GET',
									                		url: "http://localhost:8086/getRobot",
									                		params: {robotid:robot.getid}
									               		 	})
										            		.then(sucessGetRobot, errorCallBack);
									            	};
							$scope.addRobot = function(robot) {
										                $http({
										                		method: 'POST',
										                		url: "http://localhost:8086/addRobot",
										                		data: {
										                				name:robot.name,
										                				price:robot.price
										                				}
										               		 	})
											            		.then(sucessCallBack, errorCallBack);
										            };
							$scope.deleteRobot = function(robot) {
										                $http({
										                		method: 'DELETE',
										                		url: "http://localhost:8086/deleteRobot",
										                		params: {robotid:robot.deleteid}
										               		 	})
											            		.then(sucessCallBack, errorCallBack);
										            };
							$scope.getAllRobots = function() {
										                $http({
										                		method: 'GET',
										                		url: "http://localhost:8086/getAllRobots"
										               		 	})
											            		.then(sucessGetAllBorots, errorCallBack);
										            };
				            
							            var sucessCallBack = function (response){
							            	alert("The task has been performed successfully..");
							            	$scope.setAllBtnF();
							            };
							            var sucessGetRobot = function (response){
							            	$scope.setAllBtnF();
								            $scope.btn.d = true ;
							            	$scope.robots = response.data;
							            };
							            var sucessGetAllBorots = function (response){
							            	$scope.setAllBtnF();
								            $scope.btn.d = true ;
							            	$scope.allRobots = response.data;
							            };
							            var errorCallBack = function (response){
							            	alert("Kindly provide the valid inputs..");
							            	$scope.setAllBtnF();
							            	$scope.error = response.data;
							            };
							$scope.getABtn = function() {
								$scope.setAllBtnF();
								$scope.btn.a = true ;
							};
							$scope.getBBtn = function() {
								$scope.setAllBtnF();
					            $scope.btn.b = true ;
							};
							$scope.getCBtn = function() {
								$scope.setAllBtnF();
					            $scope.btn.c = true ;
							};
							$scope.setAllBtnF = function() {
								console.log("Inside all False");
								$scope.btn.a = false ;
					            $scope.btn.b = false ;
					            $scope.btn.c = false ;
					            $scope.btn.d = false ;
					            $scope.robots = {};
						        $scope.allRobots = {};
							};
							
				            });
         
      </script>
      
		<style>
		  	table, th , td {
		     /* border: 1px solid lightgray; */
		      border-collapse: collapse;
		   		}
			th{background-color: #c2c2d6;}
		
		    button {
		    background-color: #4CAF50; /* Green */
		    border: none;
		    color: white;
		    width:100%;
		    height:10%;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 18px;
			cursor: pointer;
			border-radius: 8px;
		    	}
		  </style>
	</body>

</html>